
<mat-toolbar>
  <span class="white title">gbStocks</span>
  <!-- want to use routes params but if same route both show active need to fix-->
  <button class="white title-button" mat-button routerLink='exchange' routerLinkActive="title-button-active">NASDAQ</button>
  <button class="white title-button" mat-button routerLink='exchange' routerLinkActive="title-button-active">NYSE</button>
  <!-- TODO - JUST HERE FOR TESTING -->
  <button class="white title-button" mat-button routerLink='stock' routerLinkActive="title-button-active">Stock</button>
  <button class="white title-button" mat-button routerLink='chart' routerLinkActive="title-button-active">Chart</button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>